.new-area {

    .latest-news h2 {
        font-size: 36px;
        line-height: 46px;
        text-align: center;
        text-transform: uppercase;
        color: #212121;


        @media screen and (min-width: $tablet){
            font-size: 40px;
            line-height: 50px;
            margin-bottom: 15px;
        }


        @media screen and (min-width: $desktop) {
            font-size: 46px;
            padding-bottom: 20px;
        }
    }

    .latest-news p {
        margin: 10px 0;
        color: #858585;
        font-family: "Noto Serif",serif;
        font-style: italic;
        font-size: 20px;
        text-align: center;

        @media screen and (min-width: $tablet) {

        }


        @media screen and (min-width: $desktop) {
            padding-bottom: 20px;
            font-size: 26px;
        }
    }

    .latest-news p::after {
        position: relative;
        top: 15px;
        width: 6.25rem;
        height: 0.1875rem;
        background: #26d0ce;
        background: linear-gradient(90deg, #26d0ce, #1a2980);
        content: "";
        display: block;
        margin-left: 135px;


        @media screen and (min-width: $tablet) {
            margin-left: 335px;
        }


        @media screen and (min-width: $desktop) {
            display: block;
            left: 509px;
            width: 125px;
        }
    }

}