// Default Black Color
$black: #000;

// Default White Color
$white: #fff;
$light-gray: #f3f5f6;
$red: #ff0000;

$aqua: #26d0ce;
$footer: #26272c;
$border: #eaeaea;
$client-section-background: #1a2980;
$ptag-font: #e1e1e1;
$htag-font: #212121;
$gray-font: #858585;
$after: #26d0ce;
$after-one: #1a2980;
$header-background: #4074a3;
