@import 'home/banner-slider';
header {
	// Mobile;
	background-color: $header-background;
	position: relative;
	height: 800px;
	background-repeat: no-repeat;

	@media screen and (min-width: $tablet) {
		margin-bottom: 80px;
	}

	@media screen and (min-width: $desktop) {
		display: block;
	}
	.wrapper {
		position: absolute;
		height: 100px;
		top: 0;
		left: 0;
		width: 100vw;
		overflow: hidden;
		z-index: 1;
		box-shadow: 0 0 29px rgba(26,41,128,0.4);

		@media screen and (min-width: $desktop) {
			box-shadow: none;
		}
	}

	.header-main {

		height: 100%;

		@media screen and (min-width: $desktop) {
			display: flex;
			justify-content: space-between;
			padding: 10px 150px;
		}

		.header-logo {
			z-index: 1;
			height: 100%;
			display: flex;
			align-items: center;
	
			@media screen and (min-width: $desktop) {
	
				padding-top: 20px;
				padding-bottom: 20px;
				display: flex;
			}

			img {
				width: 100px;
				height: auto;

				@media screen and (min-width: $tablet) {
					width: 120px;
					padding-left: 30px;
				}
	
				@media screen and (min-width: $desktop) {
					width: 150px;
				}
			}
		}

	}

	.nav-wrap {
		display: none;
		position: relative;

		@media screen and (min-width: $desktop) {
			display: flex;
			position: static;
			padding-top: 20px;
			padding-bottom: 20px;
		}	

	}

	.nav-list-item > a {

		@media screen and (min-width: $desktop) {
			color: $white;
			position: relative;
			z-index: 1;
			font-weight: 500;
			font-size: 20px;
			padding: 19px 20px 19px 10px;
			text-decoration: none;
			list-style: none;
			text-transform: capitalize;
			display: flex;
		}
	}

	.quote-btn {
		display: none;

		@media screen and (min-width: $desktop) {
			margin-left: 55px;
			display: flex;
		}
	}

	.quote-btn > a {
		display: none;
		width: 225px;
		height: 40px;
		line-height: 40px;
		border-radius: 50px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		background: #26d0ce;
		color: #fff;
		font-size: 18px;
		font-weight: 500;
		text-align: center;
		text-decoration: none;

		@media screen and (min-width: $desktop) {
			display: flex;
		}
	}
}	
