header {
	// Mobile;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background-color: $black;
	
	img {
		width: 120px;
	}
	nav {
		display: none;
		}

	.nav-wrap {
			display: flex;
		}

	.nav-list-item {

	}

	.nav-list-item li{
		
	}

	.nav-list-item a {
		color: $white;
	}

	}