header {
	// Mobile
	background-image: url(//assets/images/header/bg-slide-1.jpg);
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 5px;
	display: flex;
	justify-content: space-between;
	background-color: $white;
	}

	nav {
		display: none;

		@media only screen and ( min-width: $desktop ) {
			display: block;

		}

		.nav-wrap {
			display: flex;
		}

		a {
			color: $black;
		}
	}

}
